*{
    --animation-duration: .05s;
    --calculator-width: 22.5rem;
    --calculator-border: .21rem;
}


.root{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
}

/* https://uxplanet.org/create-an-easily-switchable-light-dark-styles-in-figma-ffee3cd542a7 */

.body__dark{
    --font-color: #ffffff;
    --background-color: #121212;
    --background-color-light: #001831;
    --base-light: #002149;
    --calculator-color-contrast: #121212;
    /*background-color: ;*/
    background: var(--background-color);
    transition: all ease-in-out var(--animation-duration);
}

.body__light{
    --font-color: #121212;
    --background-color: #ffffff;
    --base-light: #002149;
    --calculator-color-contrast: #ffffff;
    background-color: var(--background-color);
    transition: all ease-in-out var(--animation-duration);
}

.body__mode{
    background-color: var(--background-color);
}

.section{
    margin: 1rem 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

/* ------------ START BACKGROUND ------------- */

.circles{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    z-index: -1;
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--base-color);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 5px;
    height: 5px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 30px;
    height: 30px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 20px;
    height: 20px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: .5;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
/* ------------- END BACKGROUND ------------ */

/* ------------- START HEADER ------------ */

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__text{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: var(--base-color);
    text-transform: uppercase;
}

.header__link:link, .header__link:visited {
    text-decoration: none;
    color: var(--base-color);
}

.header__link:hover, .header__link:active {
    text-decoration: none;
    color: var(--font-color);
}

.header__text--smaller{
    font-size: 1rem;
}

/* https://www.sitepoint.com/css-typewriter-effect/ */
.typed-out{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    animation: typing 2s steps(20, end) forwards, blinking .8s infinite;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blinking {
    from { border-color: transparent }
    to { border-color: var(--base-color); }
}

/* ------------- END HEADER ------------ */

/* ------------- START NAVIGATION ------------ */

.navigation{
    display: flex;
    justify-content: center;
    width: var(--calculator-width);
    align-items: center;
    gap: .4rem;
    margin: 0 auto;
    z-index: 3;
}

/* ------------- END NAVIGATION ------------ */

/* ------------- START HISTORY ------------ */

.history{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr;
    justify-content: start;
    align-items: start;
    transition: all ease-in-out var(--animation-duration);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    top:0;
    right: 0;
    opacity: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

.history:after{
    content: '';
    position: absolute;
    background-color: var(--background-color);
    height: 25%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.history--active{
    opacity: 1;
}

.history__icon{
    height: 100%;
    background-color: var(--background-color);
}

.history__displayer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5rem;
}

.history__body{
    display: flex;
    gap: .5rem;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.history__elem{
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
    grid-auto-rows: auto;
    gap: 2rem;
    justify-items: start;
    width: 100%;
}

.history__text{
    font-size: 1.1rem;
    color: var(--font-color);
    text-align: center;
}

.history__row{
    width: 100%;
}

.history__box{
    transition: all var(--animation-duration) ease-in-out;
    padding: 0 .3rem;
    border-radius: 2px;
    width: auto;
}

.history__box:hover{
    cursor: pointer;
    background-color: var(--base-color);
}

.history__text--gray{
    color: #888888;
}

/* ------------- END HISTORY ------------ */

/* ------------ START CALCULATOR ---------- */

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.calculator__container{
    position: relative;
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: var(--calculator-border) solid var(--base-color);
    width: var(--calculator-width);
    height: 36rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.calculator__displayer{
    position: relative;
    height: 100%;
    flex-shrink: 3;
    border: var(--calculator-border) dashed var(--base-color);
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-radius: 2px;
}

.calculator__buttons{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
}

.calculator__text{
    font-size: 1.1rem;
    color: var(--font-color);
}

.calculator__previous{
    font-size: 1.5rem;
    text-align: right;
    width: 100%;
}

.calculator__display{
    font-size: 3.3rem;
    font-weight: 500;
    width: 100%;
    height: 70%;
    border: none;
    text-align: right;
    background-color: var(--background-color);
}

.calculator__display:focus{
    outline: none;
}

/* ------------ END CALCULATOR ---------- */

/* ----------- START BUTTONS ------------ */

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    transition: all var(--animation-duration) ease-in-out;
    color: var(--font-color);
    outline: none;
    box-shadow: none;
    font-size: 2rem;
    border: var(--calculator-border) solid var(--base-color);
    border-radius: 2px;
}

.button--absolute{
    display: block;
    color: var(--font-color);
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 4;
}

.button--pressed{
    transition: all 0s ease-in-out;
    background-color: var(--base-color);
    color: var(--font-color);
    transform: scale(106%);
}

.button--hide{
    display: none;
}

.button--transparent{
    background-color: inherit;
    border: none;
}

.button--padding {
    padding: 1rem;
}

.button--small{
    font-size: 1rem;
    padding: 0;
}

.button:active{
    transform: scale(106%);
}

.button:hover{
    cursor: pointer;
    background-color: var(--base-color);
    color: var(--font-color);
}

.button--transparent:hover{
    background-color: inherit;
    color: var(--base-color);
}

.button__hovered{
    cursor: pointer;
    background-color: var(--base-color);
    color: var(--font-color);
}

.button--zero{
    grid-column: 1/3;
    grid-row: 5/6;
}

/* ----------- END BUTTONS ------------ */

/* ----------- START COLORS ------------ */

.colors{
    position: absolute;
    left: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.colors__elem{
    transition: all var(--animation-duration) ease-in-out;
    width: 40px;
    height: 40px;
    opacity: 0.3;
    border-radius: 50%;
    border: var(--calculator-border) solid #444;
}

.colors__elem:hover{
    opacity: 1;
    cursor: pointer;
    transform: scale(110%);
}

.colors__elem:active{
    transform: scale(115%);
}

.colors__elem--selected{
    transform: scale(110%);
    opacity: 1;
}

/* ----------- END COLORS --------------- */