
*{
    --base-color: #0085ff;
    --calculator-width: 22.5rem;
    --calculator-border: .21rem;
}

.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* https://uxplanet.org/create-an-easily-switchable-light-dark-styles-in-figma-ffee3cd542a7 */

.body__dark{
    --font-color: #ffffff;
    --background-color: #121212;
    --base-light: #002149;
    --calculator-color-contrast: #121212;
    background-color: var(--background-color);
    transition: all ease-in-out .1s;
}

.body__light{
    --font-color: #121212;
    --background-color: #ffffff;
    --base-light: #002149;
    --calculator-color-contrast: #ffffff;
    background-color: var(--background-color);
    transition: all ease-in-out .1s;
}

.body__mode{
    background-color: var(--background-color);
}

.section{
    margin: 1rem 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

/* ------------- START HEADER ------------ */

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header__text{
    font-size: 2rem;
    text-align: center;
    width: 100%;
    color: var(--base-color);
    text-transform: uppercase;
}

.header__text--smaller{
    text-transform: capitalize;
    font-size: .8rem;
}

/* ------------- END HEADER ------------ */

/* ------------- START NAVIGATION ------------ */

.navigation{
    display: flex;
    justify-content: center;
    width: var(--calculator-width);
    align-items: center;
    gap: .4rem;
    margin: 0 auto;
}

/* ------------- END NAVIGATION ------------ */

/* ------------- START HISTORY ------------ */

.history{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25% 1fr;
    justify-content: start;
    align-items: start;
    transition: all ease-in-out .1s;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    top:0;
    right: 0;
    opacity: 0;
    z-index: 3;
    overflow-x: hidden;
    overflow-y: auto;
}

.history:after{
    content: '';
    position: absolute;
    background-color: var(--background-color);
    height: 25%;
    width: 100%;
    top: 0;
    bottom: 0;
}

.history--active{
    opacity: 1;
}

.history__icon{
    height: 100%;
    background-color: var(--background-color);
}

.history__displayer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: .5rem;
}

.history__body{
    display: flex;
    gap: .5rem;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.history__elem{
    display: grid;
    grid-template-columns: 1fr 20% 1fr;
    grid-auto-rows: auto;
    gap: 2rem;
    justify-items: start;
    width: 100%;
}

.history__text{
    font-size: 1.1rem;
    color: var(--font-color);
    text-align: center;
}

.history__row{
    width: 100%;
}

.history__box{
    transition: all .1s ease-in-out;
    padding: 0 .3rem;
    border-radius: 2px;
    width: auto;
}

.history__box:hover{
    cursor: pointer;
    background-color: var(--base-color);
}

.history__text--gray{
    color: #888888;
}

/* ------------- END HISTORY ------------ */

/* ------------ START CALCULATOR ---------- */

.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.calculator__container{
    padding: 1rem;
    background-color: var(--background-color);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border: var(--calculator-border) solid var(--base-color);
    width: var(--calculator-width);
    height: 36rem;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 1rem;
}

.calculator__displayer{
    position: relative;
    height: 100%;
    flex-shrink: 3;
    border: var(--calculator-border) dashed var(--base-color);
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    border-radius: 2px;
}

.calculator__buttons{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: .5rem;
}

.calculator__text{
    font-size: 1.1rem;
    color: var(--font-color);
}

.calculator__previous{
    font-size: 1.5rem;
    text-align: right;
    width: 100%;
}

.calculator__display{
    font-size: 3.3rem;
    font-weight: 500;
    width: 100%;
    height: 70%;
    border: none;
    text-align: right;
    background-color: var(--background-color);
}

.calculator__display:focus{
    outline: none;
}

/* ------------ END CALCULATOR ---------- */

/* ----------- START BUTTONS ------------ */

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    transition: all .1s ease-in-out;
    color: var(--font-color);
    outline: none;
    box-shadow: none;
    font-size: 2rem;
    border: var(--calculator-border) solid var(--base-color);
    border-radius: 2px;
}

.button--absolute{
    display: block;
    color: var(--font-color);
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 4;
}

.button--hide{
    display: none;
}

.button--transparent{
    background-color: inherit;
    border: none;
}

.button--padding {
    padding: 1rem;
}

.button--small{
    font-size: 1rem;
    padding: 0;
}

.button:active{
    transform: scale(110%);
}

.button:hover{
    cursor: pointer;
    background-color: var(--base-color);
    color: var(--font-color);
}

.button--transparent:hover{
    background-color: inherit;
    color: var(--base-color);
}

.button__hovered{
    cursor: pointer;
    background-color: var(--base-color);
    color: var(--font-color);
}

.button--zero{
    grid-column: 1/3;
    grid-row: 5/6;
}

/* ----------- END BUTTONS ------------ */

/* ----------- START SAVE --------------- */

.save-button{
    transition: all .1s ease-out;
    border-radius: 50%;
    padding: 1rem;
    background-color: rgba(0,0,255, 0.1);
    bottom: 30px;
    right: 30px;
    position: absolute;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.save-button:hover{
    cursor: pointer;
    background-color: var(--base-color);
}

/* ----------- END SAVE --------------- */