::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--base-color);
    /*background: var(--background-color);*/
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--base-color);
}